# Package Managers
package-lock.json
eslint.config.web.js
eslint.config.mcp.js
package.json
README.md
svelte.config.js
tsconfig.mcp.json
tsconfig.web.json
vite.config.web.ts
vitest.config.ts

# Miscellaneous
.rules/
doc/
test-prototype/
.vscode/


